################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lesson_1/StarGame/.vs/StarGame/v15/Server/sqlite3
/Lesson_1/StarGame/StarGame/bin
/Lesson_1/StarGame/StarGame/obj
/Lesson_1/StarGame/.vs/StarGame/v15
/Lesson_1/StarGame/SplashScreen/bin/Debug
/Lesson_1/StarGame/SplashScreen/obj/Debug
/Lesson_2/Employee/.vs/Employee/v15/Server/sqlite3
/Lesson_2/Employee/Employee/bin/Debug
/Lesson_2/Employee/Employee/obj/Debug
/Lesson_2/Employee/.vs/Employee/v15
