################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lesson_1/StarGame/.vs/StarGame/v15/Server/sqlite3
/Lesson_1/StarGame/StarGame/bin
/Lesson_1/StarGame/StarGame/obj
/Lesson_1/StarGame/.vs/StarGame/v15
/Lesson_1/StarGame/SplashScreen/bin/Debug
/Lesson_1/StarGame/SplashScreen/obj/Debug
/Lesson_2/Employee/.vs/Employee/v15/Server/sqlite3
/Lesson_2/Employee/Employee/bin/Debug
/Lesson_2/Employee/Employee/obj/Debug
/Lesson_2/Employee/.vs/Employee/v15
/Lesson_2/StarGame/.vs/StarGame/v15/Server/sqlite3
/Lesson_2/StarGame/StarGame/bin/Debug
/Lesson_2/StarGame/StarGame/obj/Debug
/Lesson_2/StarGame/.vs/StarGame/v15
/Lesson_3/StarGame/.vs/StarGame/v15
/Lesson_3/StarGame/StarGame/bin/Debug
/Lesson_3/StarGame/StarGame/obj/Debug
/Lesson_4/StarGame/.vs/StarGame/v15
/Lesson_4/StarGame/StarGame/bin/Debug
/Lesson_4/StarGame/StarGame/obj/Debug
/Lesson_4/StarGame/StarGame/bin/Release
/Lesson_4/StarGame/StarGame/obj/Release
/Lesson_4/Tasks/Task/.vs/Task/v15
/Lesson_4/Tasks/Task/Task/bin/Debug
/Lesson_4/Tasks/Task/Task/obj/Debug
/Lesson_5/WpfApp1/.vs/WpfApp1/v15
/Lesson_5/WpfApp1/.vs/WpfApp1/v15/Server/sqlite3
/Lesson_5/WpfApp1/WpfApp1/bin/Debug
/Lesson_5/WpfApp1/WpfApp1/obj/Debug
/Lesson_6/TestString/TestString/bin/Debug
/Lesson_6/TestString/.vs/TestString/v15/Server/sqlite3
/Lesson_6/TestString/.vs/TestString/v15
/Lesson_6/TestString/TestString/obj/Debug
/Lesson_6/TestString/.vs/Lesson_6/v15
/Lesson_6/Lesson_6/.vs/Lesson_6/v15
/Lesson_6/Lesson_6/Lesson_6/bin/Debug
/Lesson_6/Lesson_6/Lesson_6/obj/Debug
